* {
    background: rgb(0, 0, 0);
    color: whitesmoke;
    
}

.img-logo {
    width: 10%;
    margin: 10px 10px 0px 30px;
    padding: 5px;
}

.profiles-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    margin-top: 7rem;
    
}

.profile-img {
    width: 70%;
    margin: 0;
    padding: 0;
}

.button-profiles {
    width: 15%;
    height: 20%;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(141, 145, 148, 0.678);
    border: 2px solid rgba(141, 145, 148, 0.678);
    position: relative;
    left: 40%;
    
}

.button-profiles:hover, .profile-img:hover {
    cursor: pointer;
    border: 3px solid white;
    transition: 0.3s;
}

p {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .profiles-list {
        flex-direction: column;
    }
    .img-logo {
        width: 30%;
        margin: 10% 35%;
    }
    h1 {
        padding-left: 15%;
    }
    .button-profiles {
        border: 1px solid white;
        width: 40%;
        left: 30%;
        bottom: 3%;
        
    }


}