

.container {
    max-width: 95vw;
    margin-left: 40px;
}

.container h2 {
    font-size: 1rem;
    margin: 50px 0px 0px 20px;
}

.container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.container .carousel .item {
    background-color: inherit;
    margin: 0px 10px;
    padding: 0px 10px;
    width: 45vw;    
}

.carousel-button {
    display: flex;
    justify-content: space-between;
    
    width: 92vw;
    background-color: none;
    border: none;
    text-decoration: none;    
}

button:hover {
    background-color: rgba(0, 0, 0, 0.055);
    cursor: pointer;
    border: none!important;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-left: 0;
    }

    
}