.search-title {
    width: 100vw;
    text-align: center;
}
.search-container {
    width: 100vw;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.search-container img {
    max-width: 400px;
    align-self: flex-start;
    width: 49%;
}

.search-container ul {
    width: 30%;
    flex-direction: column;
    
}

@media only screen and (max-width: 600px) {
    .search-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .search-container img {
        width: 90vw;
    }
}